body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 20px;
}

.container{
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    max-height: 100%;
    border-radius: 6px;
    box-shadow: 0px 2px 10px black;
    padding: 20px;
    margin: 0 auto;
}

.form-group{
     margin-bottom: 10px;

}

label{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    
}
input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}



button{
    width: 100%;
    padding: 10px;
    background-color: #007FBF;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h1{
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
}

@media (min-width: 600px){
    .container {
        max-width: 600px;
    }
}